@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque, mollitia fuga illo, magnam suscipit placeat eos debitis consequatur amet, ipsam quo est atque quam quas ipsa sit ea porro delectus.</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
